/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 18px;
  font-family: 'Raleway';
}

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/


.highlight {
  background-color: #EFD3BE;
}
h2.highlight {
  display: table;
  padding: 5px;
}

.btn-primary {
  background-color: #EFD3BE;
  color: #333;
  border: none;
  border-radius: 0;
}

img {
  max-width: 100%;
}

.logged-in .auth-prompt {
  display: none;
}